// Variables para los colors
$white: #fff
$black: #2e2e2e
$gray: #787878
$highlight: #ea8478
$footer: #f7f7f7
$db: #2f3238
$dc: #f5f5f5
$lb: #f9f9f9

// margen para las paginas
* 
  margin: 0
  box-sizing: border-box
  &::before, &::after 
    box-sizing: border-box

// Fondo y tipo de fuente para las paginas
body 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-size: 1.125rem
  line-height: 1.5
  color: $gray
  background: $white
  text-rendering: optimizeLegibility

// Listado para la barra de navegacion
ul li 
  margin: 0 1.5rem 0 0

a 
  color: $gray
  text-decoration: none
  transition: all 0.2s ease
  &:hover 
    color: $black
    opacity: .8
  &.active 
    color: $black

//Barra de navegacion
nav 
  margin: 0
  padding: 2.5rem 0 0rem 0
  ul 
    display: flex
    justify-content: flex-start
  
  li 
    list-style: none
    font-size: 1rem
    &:nth-child(3) 
      margin: 0

//Titulo en la barra de navegacion
#highlight 
  color: $highlight
  font-size: 1.25rem

//Especificaciones para las imagenes
.img-container 
  cursor: pointer
  overflow: hidden
  &:hover .img-content-hover
    display: block

// Transicion en las imagenes
.card
  width: 100%
  height: 400px
  padding: 1.5rem
  position: relative
  display: flex
  align-items: flex-end
  transition: 0.4s ease-out
  &:hover
    transform: translateY(20px)
    &:before
      opacity: 1
    .info
      opacity: 1
      transform: translateY(0px)
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    background: rgba(#1C3144, 0.6)
    z-index: 2
    transition: 0.5s
    opacity: 0
  img
  	width: 100%
  	height: 100%
  	object-fit: cover
  	position: absolute
  	top: 0
  	left: 0

.info
	z-index: 2
	position: relative
	color: white
	opacity: 0
	transform: translateY(30px)
	transition: 0.5s
	h1
		margin: 0px
	p
		letter-spacing: 1px
		font-size: 15px
		margin-top: 8px
	button
		padding: 0.6rem
		outline: none
		border: none
		border-radius: 3px
		background: white
		color: black
		font-weight: bold
		cursor: pointer
		transition: 0.4s ease
		&:hover
			background: dodgerblue
			color: white

img
  width: 100%
  height: 400px
  object-fit: cover
  transform: scale(1)
  transition: all 0.3s ease-in-out
  &:hover
    transform: scale(1.05)

.img-content-hover 
  position: absolute
  z-index: 1
  white-space: nowrap
  display: none
  padding: 1rem
  background: $white
  font-weight: 400
  margin-top: 1.25rem
  margin-left: -2rem

img 
  transform: scale(1.1)
  transform-origin: 50% 50%
  transition: transform 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940)

.items 
  display: flex
  flex-flow: row wrap
  justify-content: center

.item 
  display: flex
  align-items: center
  justify-content: center
  position: relative
  overflow: hidden
  margin: 5px
  cursor: pointer

/* Titulo de las imagenes */
.title 
  color: $black
  font-size: 1.5rem
  font-weight: 700

.category 
  font-size: 1rem
  color: $gray

.img-content 
  display: none

/* Iconos en el footer */
.social, .copyright 
  margin: 1rem

.social li 
  display: inline-block

footer 
  background: $footer
  text-align: center

footer
  display: flex
  align-items: center
  justify-content: center 

// Usado para el ancho de la barra de navegacion en la pantalla
@media(min-width: 500px) 
  nav ul 
    justify-content: flex-end

@media screen and (max-width: 1024px) 
  img:hover 
    transform: none

.img-container 
  height: 100%
  &:hover .img-content-hover 
    display: none
    
.img-content 
  display: block
  padding: 1rem 0

.container 
  max-width: 1200px
  margin: 0 auto
  padding: 1rem 3rem

h1
  font-size: 2.6rem
  line-height: 1.2em
  padding-bottom: 1rem
  font-weight: 600

.contenedor
  width: 80%
  margin: 1rem auto
  padding: 1rem
  background-color: $white

.titulo
  text-align: center
  padding: 1rem
  margin-bottom: 1rem
  border-bottom: 2px solid $black

form
  padding: 1rem

input
  font-size: 0.9rem
  padding: 0.3rem

option
  font-size: 0.9rem
  padding: 5px 1rem

.propiedad
  flex-basis: 100%
  text-align: left
  margin-bottom: 0.3rem
  &:invalid, ::after
    left: 0

button
  background: none
  border: 2px solid
  font: inherit
  line-height: 1
  margin: 0.5em
  padding: 1em 2em 

.category 
  font-size: 1rem
  color: $gray

.img-content
  display: none

.img-container
  height: 100%
  &:hover .img-content-hover
    display: none

.img-content
  display: block

/* Animacion en el texto Bienvenidos, el texto aumenta su tamaño y se desplaza
 de derecha a izquierda en la pantalla */
.titulo 
  animation-duration: 3s
  animation-name: slidein

@keyframes slidein 
  from
    margin-left: 100%
    width: 300%
  75%
    font-size: 200%
  to
    margin-left: 0%
    width: 100%

.box 
  align-items: center;
  background: #03A9F4;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: white;
  display: flex;
  font: 30px "roboto", sans-serif;
  font-weight: 100;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  transition: all 400ms ease-in-out;

.box p 
  padding-left: 5px;

.box1:hover 
  background: #00E676;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

.box1:active 
  background: #69F0AE;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 50ms;

.box2:hover 
  background: #F44336;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

.box2:active 
  background: #E57373;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 50ms;

@media (max-width: 752px) 
  .box1
    border-radius: 100%;
    height: 45px
    width: 45px
  
  .box1 p 
    display: none

  .box2 
    border-radius: 100%
    height: 45px
    width: 45px
  
  .box2 p 
    display: none


.transform-rotate
  transform: rotateY(0deg)  
  perspective: 15
  transition: transform 3s linear
  
  &:hover
    transform: rotateY(180deg)

@mixin flex
  display: -webkit-flex
  display: flex
  color: pink

.row
  @include flex


@mixin campos
  font-size: 18px
  padding: 10px 10px 10px 5px
  display: block
  width: 300px
  border: none
  border-bottom: 1px solid #757575
  &:focus
    outline: none

input
  @include campos

@mixin tipo
  position: relative
  display: block
  width: 250px
  padding: 0 84px 0 22px
  font-size: 16px
  line-height: 60px
  border-radius: 4px
  cursor: pointer


#tipo
  @include tipo


@mixin rango
  box-sizing: border-box
  width: 100%
  height: 4px
  background: #e6e6e6
  border-radius: 100px

.costo
  @include rango  
  
$height-range-bounds: 22px
$background-color-range-thumb: #333940
$radius-range-thumb: 100px
$height-range-thumb: 24px
$width-range-thumb: 24px
$size-range-thumb-shadow: 25px
$color-range-thumb-shadow: rgba(#000, .5)
$shadow-offset-y-range-thumb: 4px
$shadow-offset-x-range-thumb: 0px
$border-width-range-thumb: 6px;
$border-color-range-thumb: #fff
$width-range-track: 100%
$height-range-track: 4px


.range 
	@mixin range-track() 

	@mixin range-thumb() 
		box-sizing: border-box
		box-shadow: $shadow-offset-x-range-thumb $shadow-offset-y-range-thumb $size-range-thumb-shadow $color-range-thumb-shadow;
		border: $border-width-range-thumb solid $border-color-range-thumb;
		height: $height-range-thumb
		width: $width-range-thumb
		border-radius: $radius-range-thumb
		background: $background-color-range-thumb
		cursor: pointer
	position: relative

	input[type=range] 
		appearance: none
		padding: 0
		width: $width-range-track
		height: $height-range-bounds
		cursor: pointer
		display: block

		&:focus 
			outline: none;
	
		&[disabled] 
			opacity: .3;
			cursor: default;
	
	input::-webkit-slider-runnable-track, 
		@include range-track();
		margin: $height-range-bounds / 2 0;

	input::-webkit-slider-thumb 
		@include range-thumb();
		appearance: none;
		transform: translateY(-50%);
		margin-top: $height-range-track / 2;

@mixin formulario
  box-shadow: 0 1px 6px rgba(32,33,36 ,.28 )
  border-radius: .5rem
  padding: 20px
  box-sizing: border-box
  color: #444444
  font-size: 14px
  line-height: 1.5
  
form 
  @include formulario


@mixin radioB
  border: none
  cursor: pointer
  display: inline-block
  outline: none
  z-index: 1000
  

.radios
  @include radioB