.titulo {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    75% {
        font-size: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

.column-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }
    .grid>[class*="column-"] {
        margin: 0;
        max-width: 100%;
    }
    .column-xs-12 {
        grid-column-start: span 12;
        grid-column-end: span 12;
    }
    @media (min-width: 48rem) {
        .column-sm-12 {
            grid-column-start: span 12;
            grid-column-end: span 12;
        }
    }
    @media (min-width: 62rem) {
        .column-md-1 {
            grid-column-start: span 1;
            grid-column-end: span 1;
        }
        .column-md-2 {
            grid-column-start: span 2;
            grid-column-end: span 2;
        }
        .column-md-3 {
            grid-column-start: span 3;
            grid-column-end: span 3;
        }
        .column-md-4 {
            grid-column-start: span 4;
            grid-column-end: span 4;
        }
        .column-md-5 {
            grid-column-start: span 5;
            grid-column-end: span 5;
        }
        .column-md-6 {
            grid-column-start: span 6;
            grid-column-end: span 6;
        }
        .column-md-7 {
            grid-column-start: span 7;
            grid-column-end: span 7;
        }
        .column-md-8 {
            grid-column-start: span 8;
            grid-column-end: span 8;
        }
        .column-md-9 {
            grid-column-start: span 9;
            grid-column-end: span 9;
        }
        .column-md-10 {
            grid-column-start: span 10;
            grid-column-end: span 10;
        }
        .column-md-11 {
            grid-column-start: span 11;
            grid-column-end: span 11;
        }
        .column-md-12 {
            grid-column-start: span 12;
            grid-column-end: span 12;
        }
    }
    @media (min-width: 75rem) {
        .column-lg-1 {
            grid-column-start: span 1;
            grid-column-end: span 1;
        }
        .column-lg-2 {
            grid-column-start: span 2;
            grid-column-end: span 2;
        }
        .column-lg-3 {
            grid-column-start: span 3;
            grid-column-end: span 3;
        }
        .column-lg-4 {
            grid-column-start: span 4;
            grid-column-end: span 4;
        }
        .column-lg-5 {
            grid-column-start: span 5;
            grid-column-end: span 5;
        }
        .column-lg-6 {
            grid-column-start: span 6;
            grid-column-end: span 6;
        }
        .column-lg-7 {
            grid-column-start: span 7;
            grid-column-end: span 7;
        }
        .column-lg-8 {
            grid-column-start: span 8;
            grid-column-end: span 8;
        }
        .column-lg-9 {
            grid-column-start: span 9;
            grid-column-end: span 9;
        }
        .column-lg-10 {
            grid-column-start: span 10;
            grid-column-end: span 10;
        }
        .column-lg-11 {
            grid-column-start: span 11;
            grid-column-end: span 11;
        }
        .column-lg-12 {
            grid-column-start: span 12;
            grid-column-end: span 12;
        }
    }
}

a {
    --webkit-transition: all 0.2s ease;
}

.description {
    border-top: 0.0625rem solid #e3dddd;
    margin: 2rem 0;
    padding: 1rem 0 0 0;
}

.grid>[class*="column-"] {
    padding: 1rem;
}

.grid.menu, .grid.product {
    border-bottom: 0.0625rem solid #e3dddd;
}

.grid.menu>[class*="column-"] {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.grid.product {
    padding: 0 0 1.5rem 0;
}

.product-image {
    display: none;
}

.image-list li {
    margin: 0;
}

@media (min-width: 62rem) {
    .product-image img, .image-list img {
        width: 100%;
    }
    .product-image {
        display: block;
    }
    .product-image img {
        height: 52vh;
    }
    .product-image img.active {
        display: block;
        margin: 0 0 0.75rem 0;
    }
    .image-list {
        display: -webkit-box;
        display: flex;
        overflow: hidden;
    }
    .image-list li {
        margin: 0 0.75rem 0 0;
        flex-basis: 100%;
    }
    .image-list li:nth-child(3) {
        margin: 0;
    }
    .image-list img {
        height: 10rem;
        width: 100%;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }
}

.boton {
    background-color: #2E4052;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    border-color: #2E4052;
    padding: 10px;
    color: white;
}

.boton:hover, .boton:focus {
    background-color: #EEB1B7;
    border-color: #EEB1B7;
}

/* --------------------------------------------------------------- */

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all ease 0.5s;
}

p.descripcion {
    position: absolute;
    padding: 30%;
    font-size: 3vmin;
    line-height: 3vmin;
    top: 0%;
    color: white;
    background: rgba(0, 50, 100, 0.7);
    transform: translateY(100%);
}

.portada>a {
    margin: auto;
    overflow: hidden;
    position: relative;
}

.portada a {
    display: block;
    text-decoration: none;
    line-height: 1.2rem;
    color: rgb(100, 80, 100);
}

.portada:hover p.descripcion {
    transform: translateY(0%);
}

.titular {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
}

/* Asignamos animación mediante la pseudoclases*/

.titular:hover {
    animation: 2s titular 1;
}

/* Animación */

@keyframes titular {
    30% {
        transform: scaleX(1.2) scaleY(0.7);
    }
}

.rebotar {
    animation: rebotar 2s 1;
}

@keyframes rebotar {
    0% {
        opacity: 0;
        transform: translateY(-100vw);
    }
    50% {
        transform: translateY(30px);
        opacity: 1;
    }
    70% {
        transform: translateY(-10px);
    }
}

.anim3 {
    animation: anim3 2s 1;
}

/* Animación */

@keyframes anim3 {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    70% {
        opacity: 1;
        transform: scale(0.9);
    }
}

/* -------------------------------------------------------- */
/* Transform bloques para la informacion de la empresa */
.square {
    height: 50px;
    width: 50px;
    margin: 0 20px;
}
.square:hover {
    cursor: pointer;
}
.square1 {
    background-color: #EEB1B7;
}
.square1:hover {
    transform: translateY(-30px);
}
.square2 {
    background-color: #E7EBE3;
}
.square2:hover {
    transform: translate(15px, -40px);
}
.square3 {
    background-color: #FEF3F2;
}
.square3:hover {
    transform: translate(15px, -40px);
}
.square4 {
    background-color: #C9D4D2;
}
.square4:hover {
    transform: translate(15px, -40px);
}
.square5 {
    background-color: #BABAB8;
}
.square5:hover {
    transform: translate(15px, -40px);
}

/* animacion en el texto */
.titulo2 {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-size: 80%;
    animation: animate 5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}